wfdb==4.3.1
PyWavelets==1.8.0
scipy==1.13.1
scikit-learn==1.5.2
pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.4
seaborn==0.13.2
xlsxwriter==3.2.0
reportlab==4.2.5
xgboost==2.1.4
imbalanced-learn==0.12.4
tensorflow==2.18.1
